@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
}

html {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}